<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SportsDataInterface.Domain.Configuration.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SportsDataInterface.Domain.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SportsDataInterface.Domain.Configuration.GlobalSettings>
            <setting name="ProjectName" serializeAs="String">
                <value>default.srdi</value>
            </setting>
            <setting name="CgTcpConnectionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CgTcpConnectionHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CgTcpConnectionPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="CgServiceName" serializeAs="String">
                <value>Intelligent Interface</value>
            </setting>
            <setting name="RossTalkRemoteHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RossTalkRemotePort" serializeAs="String">
                <value>7788</value>
            </setting>
            <setting name="RossTalkLocalPort" serializeAs="String">
                <value>7789</value>
            </setting>
            <setting name="CgEnableLyricAutomationCompat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferredTeams" serializeAs="String">
                <value />
            </setting>
            <setting name="TvGraphicsEgcHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="TvGraphicsEgcPort" serializeAs="String">
                <value>5555</value>
            </setting>
            <setting name="RossTalkConvertUtf8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LiveInsertButtonsStyle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CgReadPrimePageNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CgEnableUtf8Unicode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CgEncoding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CgPrioritizeTabIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LiveInsertShowOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LiveInsertListSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="LiveInsertOutputSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="LiveInsertEnableHotkeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageSetupListSize" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="ReportListSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ScriptListSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PageSetupConsoleSize" serializeAs="String">
                <value>300</value>
            </setting>
        </SportsDataInterface.Domain.Configuration.GlobalSettings>
        <SportsDataInterface.Domain.Configuration>
            <setting name="ProjectName" serializeAs="String">
                <value>default.srdi</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CgTcpConnectionType" serializeAs="String">
                <value>0</value>
            </setting>
        </SportsDataInterface.Domain.Configuration>
    </userSettings>
</configuration>