<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SportsDataInterface.Plugins.SportradarNba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SportsDataInterface.Plugins.SportradarNba.Properties.Settings>
            <setting name="SportradarNbaApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SportradarNbaApiKeyType" serializeAs="String">
                <value>production</value>
            </setting>
            <setting name="NgssAuthorizationKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableNgss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NgssEndPointId" serializeAs="String">
                <value />
            </setting>
            <setting name="NgssTestGameId" serializeAs="String">
                <value />
            </setting>
            <setting name="NgssTestUri" serializeAs="String">
                <value />
            </setting>
            <setting name="SportradarWnbaApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SportradarWnbaApiKeyType" serializeAs="String">
                <value>production</value>
            </setting>
            <setting name="NgssReadPlayerPositions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SportradarNbdlApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SportradarNbdlApiKeyType" serializeAs="String">
                <value>production</value>
            </setting>
            <setting name="EnableNbdlFreeThrowRule" serializeAs="String">
                <value>True</value>
            </setting>
        </SportsDataInterface.Plugins.SportradarNba.Properties.Settings>
    </userSettings>
</configuration>